@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@400;500;600;700;800&family=Secular+One&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

.primary {
  background-color: #161c51;
  padding: 5px 20px;
  color: aliceblue;
  border: none;
  border-radius: 3px;
}
