.transaction-count {
    box-shadow: 0 0 2px rgb(133, 133, 133);
    padding: 15px;
    border-radius: 10px;
    color: rgb(76, 73, 73) !important;
}

.analytics h4 {
    font-size: 20px;
    color: gray !important;
    font-weight: 600;
}

.analytics h5 {
    font-size: 18px;
    color: gray !important;
    
}

.category-card {
    padding: 20px;
    box-shadow: 0 0 2px gray;
    margin-top: 15px;
    border-radius: 10px;
}

.ant-select-selector {
    border-radius: 5px !important;
}

.income-category-analysis canvas {
    height: 300px;
    width: 300px;
}
